<?xml version="1.0"?>
<configuration>
  <appSettings configSource="web_appSettings.config" />
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>